.btn-header {
    font-size: x-large;
    text-decoration: none;
    border: none;
    color: white;
    background-color: #05C19C;
    padding: 1% 0%;
    border-radius: 15%;
    transition: 0.5s;
  }
  .btn-header:hover {
    color: #098b71;
    
  }
  .navbar {
      background-color: #05C19C;
  }
  .logo {
    text-decoration: none;
    color: white;
    font-family: 'M PLUS 1', sans-serif;
    font-size: xx-large;
    font-weight: 300;
    margin: 0 auto;
    
  }
  .header-ul {
    padding-top: 3%;
    
  }

  .header-li-a {
    font-family: "M PLUS 2", sans-serif;
    font-size: large;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    margin-top: 100px;
    transition: 0.3s;
  }
  .header-li-a:hover {
    color: #098b71;
    
  }

  .container-estreno {
    text-align: center;
    /* border: 1px solid black; */
    margin: 0 2%;
  }

  .texto-bienvenida {
    font-family: 'M PLUS 1', sans-serif;
    /* margin: 0 10%; */
    font-weight: 400;
  }

  .bienvenida-autor {
    color: #05C19C;
  }

  .container-img-estreno {
    width: 100%;
    height: 100%;
  }

  .img-estreno {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .escuchala-container {
    width: 100%;
    margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 30%);
   grid-gap: 4%;
   margin: 1%;
}


.spotify-container {
    width: 100%;
    background-color: black;
    /* padding: 1%; */
    border-radius: 10px;
    display: inline-block;
    /* height: 40px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.spotify-container a img {
    width: 100%;
    height: 100%;
    padding: 5%;
}
.youtube-container {
    width: 100%;
    background-color: red;
    /* padding: 1%; */
    border-radius: 10px;
    display: inline-block;
    /* height: 40px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.youtube-container a img {
    width: 100%;
    height: 100%;
    padding: 5%;
}

.descargar-container {
    width: 100%;
    background-color: #05C19C;
    padding: 1%;
    border-radius: 10px;
    display: inline-block;
    /* height: 40px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.centrar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.descargar-container a {
    font-family: 'M PLUS 1', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 90%;
  
}

.verMas {
    /* text-decoration: none; */
    color: #05C19C;
}



